---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: apps
namePrefix: frigate-

resources:
  - ../../../bases/web
  - pvc.yml

components:
  - ../../../components/https-ingress-backend
  - ../../../components/config-volume
  - ../../../components/drone-04-gpu
  - ../../../components/env-secret

images:
  - name: image
    newName: ghcr.io/blakeblackshear/frigate
    newTag: 0.16.3-tensorrt@sha256:5f3150afac88b13b6a39e19ab18c68f7b84a0d3b8675e58aace0c55c69d98909

patches:
  - path: secret.yml
  - path: deployment.yml

replacements:
  - sourceValue: frigate.beaver-cloud.xyz
    targets:
      - select:
          kind: Ingress
        fieldPaths:
          - spec.rules.0.host
          - spec.tls.0.hosts.0
          - spec.tls.0.secretName
  - sourceValue: 10G
    targets:
      - select:
          kind: PersistentVolumeClaim
          name: volume
        fieldPaths:
          - spec.resources.requests.storage

configMapGenerator:
  - files:
      - frigate.yml=gatus.yml
    name: gatus
    options:
      labels:
        gatus.io/enabled: 'true'
  - files:
      - config/frigate.yml
    name: config

labels:
  - includeSelectors: true
    includeTemplates: true
    pairs:
      app.kubernetes.io/name: frigate
