apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: apps
namePrefix: frigate-

resources:
  - ./resources/frigate.yml
  - ./resources/pvc.yml

configMapGenerator:
  - files:
      - frigate.yml=gatus.yml
    name: gatus
    options:
      labels:
        gatus.io/enabled: 'true'

labels:
  - includeSelectors: true
    includeTemplates: true
    pairs:
      app.kubernetes.io/name: frigate
