---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: apps
namePrefix: frigate-

resources:
  - ../../../bases/web
  - ../../../bases/secret
  - pvc.yml

components:
  - ../../../components/https-ingress-backend

images:
  - name: image
    newName: ghcr.io/blakeblackshear/frigate
    newTag: 0.16.3-tensorrt@sha256:7940134770b1f050e7b4ad6cf716fda011e15fe53ea6cc7e5066b8f1df6335bd

patches:
  - path: secret.yml
  - path: deployment.yml

replacements:
  - sourceValue: frigate.beaver-cloud.xyz
    targets:
      - select:
          kind: Ingress
        fieldPaths:
          - spec.rules.0.host
          - spec.tls.0.hosts.0
          - spec.tls.0.secretName
  - sourceValue: https
    targets:
      - select:
          kind: Ingress
        fieldPaths:
          - spec.rules.0.http.paths.0.backend.service.port.name

configMapGenerator:
  - files:
      - frigate.yml=gatus.yml
    name: gatus
    options:
      labels:
        gatus.io/enabled: 'true'
  - files:
      - config/frigate.yml
    name: config

labels:
  - includeSelectors: true
    includeTemplates: true
    pairs:
      app.kubernetes.io/name: frigate
