---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      containers:
        - name: container
          image: image
          env:
            - name: TZ
              value: America/Denver
          ports:
            - name: http
              containerPort: 80
            - name: https
              containerPort: 443
