---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-deployment
  annotations:
    reloader.stakater.com/auto: 'true'
  labels: &labels
    app.kubernetes.io/component: web
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels: *labels
  template:
    metadata:
      labels: *labels
    spec:
      securityContext:
        fsGroup: 1000
      volumes:
        - name: volume
          persistentVolumeClaim:
            claimName: volume
        - name: cache
          emptyDir: {}
        - name: tmp
          emptyDir: {}
        - name: npm
          emptyDir: {}
      containers:
        - name: grafana
          image: docker.io/grafana/grafana
          resources:
            requests:
              memory: 100M
            limits:
              memory: 1G
          securityContext:
            privileged: false
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            readOnlyRootFilesystem: true
            capabilities:
              drop: [ALL]
          volumeMounts:
            - name: volume
              mountPath: /var/lib/grafana
            - name: tmp
              mountPath: /tmp
          env:
            - name: TZ
              value: America/Denver
          ports:
            - name: http
              containerPort: 3000

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: volume
  labels:
    schedule/hourly: enabled
    schedule/daily: enabled
spec:
  accessModes: [ReadWriteOnce]
  storageClassName: openebs-single-replica
  resources:
    requests:
      storage: 1G

---
apiVersion: v1
kind: Service
metadata:
  name: web-service
spec:
  selector:
    app.kubernetes.io/component: web
  ports:
    - name: http
      port: 80
      targetPort: http

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress
  annotations:
    cert-manager.io/cluster-issuer: cloudflare-issuer
spec:
  ingressClassName: internal
  tls:
    - hosts: [&host grafana.beaver-cloud.xyz]
      secretName: *host
  rules:
    - host: *host
      http:
        paths:
          - pathType: Prefix
            path: '/'
            backend:
              service:
                name: web-service
                port:
                  name: http
