---
variant: fcos
version: 1.6.0

passwd:
  users:
    - name: &user core

storage:
  files:
    - path: /etc/hostname
      mode: 0644
      contents:
        inline: {{ hostname }}

    - path: /home/core/.ssh/authorized_keys
      mode: 0600
      user:
        name: *user
      group:
        name: *user
      contents:
        source: https://github.com/kevindurb.keys

    - path: /etc/NetworkManager/system-connections/10-static-{{ net.interfaceName }}.nmconnection
      mode: 0600
      contents:
        inline: |
          [connection]
          id=static-{{ net.interfaceName }}
          type=ethernet
          interface-name={{ net.interfaceName }}

          [ipv4]
          method=manual
          addresses={{ net.addresses }}
          gateway={{ net.gateway }}
          dns={{ net.dns }}

          [ipv6]
          method=disabled

  directories:
    - path: /etc/ucore-autorebase
      mode: 0754
systemd:
  units:
    - name: ucore-autorebase.service
      enabled: true
      contents: |
        [Unit]
        Description=uCore autorebase
        ConditionPathExists=!/etc/ucore-autorebase/rebased
        After=network-online.target
        Wants=network-online.target

        [Service]
        Type=oneshot
        StandardOutput=journal+console
        ExecStart=/usr/bin/bootc switch ghcr.io/kevindurb/k8s:latest
        ExecStart=/usr/bin/touch /etc/ucore-autorebase/rebased
        ExecStart=/usr/bin/systemctl disable ucore-autorebase.service
        ExecStart=/usr/bin/systemctl reboot

        [Install]
        WantedBy=multi-user.target
