---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config-pvc
  labels:
    schedule/hourly: enabled
    schedule/daily: enabled
spec:
  accessModes: [ReadWriteOnce]
  storageClassName: openebs-zfspv
  resources:
    requests:
      storage: 20Gi
