# SPDX-License-Identifier: MIT-0
---
- name: Create tank zpool
  community.general.zpool:
    name: tank
    mountpoint: /var/mnt/tank
    vdevs: [{ disks: [/dev/nvme0n1] }]

- name: Create storage dataset
  community.general.zfs:
    name: tank/storage
    state: present
    extra_zfs_properties:
      compression: lz4

- name: Setup weekly scrub
  ansible.builtin.systemd_service:
    name: zfs-scrub-weekly@tank.timer
    state: started
    enabled: true
