---
cluster-init: true
disable:
  - traefik
  - servicelb
selinux: true
flannel-iface: tailscale0
node-ip: {{ tailscale_ip }}
node-external-ip: {{ tailscale_ip }}
advertise-address: {{ tailscale_ip }}
tls-san:
  - {{ tailscale_ip }}
  - {{ hostname }}
  - {{ tailscale_fqdn }}
  - 192.168.42.1
