---
# vim: set ft=yaml.ansible
- name: Check zpool health
  hosts: agents
  tags: storage
  become: true
  strategy: free
  tasks:
    - name: Get zpool facts
      community.general.zpool_facts:
        properties: health,capacity
      register: zpool_facts

    - name: Fail if pool not healthy
      loop: '{{ zpool_facts.ansible_facts.ansible_zfs_pools }}'
      ansible.builtin.fail:
        msg: zpool `{{item.name}}` unhealthy
      when: item.health != "ONLINE"

    - name: Fail if pool not have enough space
      loop: '{{ zpool_facts.ansible_facts.ansible_zfs_pools }}'
      ansible.builtin.fail:
        msg: zpool `{{item.name}}` @ `{{item.capacity}}`
      when: item.capacity > "90%"

- name: Check zfs dataset health
  hosts: agents
  tags: storage
  become: true
  strategy: free
  tasks:
    - name: Get zfs facts
      community.general.zfs_facts:
        name: tank/storage
        recurse: true
        type: filesystem
      register: zfs_facts

    - name: Fail if dataset not have enough space
      loop: '{{ zfs_facts.ansible_facts.ansible_zfs_datasets }}'
      ansible.builtin.fail:
        msg: dataset `{{item.name}}` @ `{{item.available}}`
      when: (item.available | human_to_bytes) < ("100M" | human_to_bytes)
