---
# vim: set ft=yaml.ansible
- name: Base provision
  hosts: all
  strategy: free
  become: true
  tasks:
    - name: Set timezone to UTC
      community.general.timezone:
        name: UTC

    - name: Set ssh keys from github
      ansible.posix.authorized_key:
        user: core
        state: present
        key: https://github.com/kevindurb.keys

- name: Setup k3s
  hosts: all
  become: true
  vars_files: [../vars/k3s-token.yml]
  roles: [roles/k3s]
