---
# vim: set ft=yaml.ansible
- name: Base provision
  tags: base
  hosts: all
  strategy: free
  become: true
  tasks:
    - name: Set timezone to UTC
      community.general.timezone:
        name: UTC

    - name: Set ssh keys from github
      ansible.posix.authorized_key:
        user: core
        state: present
        key: https://github.com/kevindurb.keys

    - name: Set rpm_ostreed update policy
      ansible.builtin.copy:
        content: |
          [Daemon]
          AutomaticUpdatePolicy=stage
        dest: /etc/rpm-ostreed.conf

    - name: Enable rpm ostreed automatic
      ansible.builtin.service:
        name: rpm-ostreed-automatic.timer
        state: started
        enabled: true

    - name: Disable zincati
      ansible.builtin.service:
        name: zincati
        state: stopped
        enabled: false

    - name: Disable firewall
      ansible.builtin.service:
        name: firewalld
        state: stopped
        enabled: false

    - name: Enable cockpit
      ansible.builtin.service:
        name: cockpit
        state: started
        enabled: true

- name: Setup k3s
  tags: k3s
  hosts: all
  become: true
  vars_files: [../vars/k3s-token.yml]
  roles: [roles/k3s]

- name: Setup zfs pvc storage
  tags: zfs
  hosts: agents
  become: true
  roles: [roles/pvc-zfs]

- name: Setup drone-04 as NAS
  tags: zfs
  hosts: drone-04
  become: true
  roles: [roles/nas-zfs]

- name: Setup tailscale
  tags: tailscale
  hosts: all
  become: true
  vars_files: [../vars/tailscale-auth-token.yml]
  roles: [roles/tailscale]
