---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: apps
namePrefix: whoami-

resources:
  - ../../../bases/web

components:
  - ../../../components/pod-hardening

images:
  - name: image
    newName: docker.io/traefik/whoami
    newTag: v1.11.0@sha256:200689790a0a0ea48ca45992e0450bc26ccab5307375b41c84dfc4f2475937ab

replacements:
  - sourceValue: whoami.beaver-cloud.xyz
    targets:
      - select:
          kind: Ingress
        fieldPaths:
          - spec.rules.0.host
          - spec.tls.0.hosts.0
          - spec.tls.0.secretName
  - sourceValue: '3'
    targets:
      - select:
          kind: Deployment
        fieldPaths: [spec.replicas]

configMapGenerator:
  - name: gatus
    options:
      labels:
        gatus.io/enabled: 'true'
    files:
      - whoami.yml=gatus.yml

labels:
  - includeSelectors: true
    includeTemplates: true
    pairs:
      app.kubernetes.io/name: whoami
