---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ENV.APP }}
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/kevindurb/k8s.git
    targetRevision: HEAD
    path: apps/{{ ENV.NS }}/{{ ENV.APP }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ ENV.NS }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
