---
apiVersion: k8s.bitwarden.com/v1
kind: BitwardenSecret
metadata:
  name: secret
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  organizationId: 575f69b2-49f4-456d-bd6f-b14101103188
  secretName: {{ ENV.APP }}-secret
  map:
    - secretKeyName: fakefakefake
      bwSecretId: fakefakefake
  authToken:
    secretName: bw-auth-token
    secretKey: token
