---
apiVersion: v1
kind: Service
metadata:
  name: {{ ENV.COMP }}-service
spec:
  ports:
    - name: {{ ENV.PROTO }}
      port: {{ ENV.PORT }}
      targetPort: {{ ENV.PROTO }}

---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: {{ ENV.COMP }}-service
  labels:
    kubernetes.io/service-name: {{ ENV.APP }}-{{ ENV.COMP }}-service
addressType: IPv4
ports:
  - name: {{ ENV.PROTO }}
    appProtocol: {{ ENV.PROTO }}
    protocol: TCP
    port: {{ ENV.PORT }}
endpoints:
  - addresses: [{{ ENV.IP }}]
    conditions: {}

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress
  annotations:
    cert-manager.io/cluster-issuer: cloudflare-issuer
    nginx.ingress.kubernetes.io/backend-protocol: '{{ ENV.PROTO | upper }}'
    gethomepage.dev/href: 'https://{{ ENV.SUBDOMAIN }}.durbin.casa'
    gethomepage.dev/enabled: 'true'
    gethomepage.dev/app: {{ ENV.APP }}
    gethomepage.dev/group: Other
    gethomepage.dev/icon: {{ ENV.APP }}
    gethomepage.dev/name: {{ ENV.APP | title }}
    gethomepage.dev/siteMonitor: {{ ENV.PROTO }}://{{ ENV.APP }}-{{ ENV.COMP }}-service.{{ ENV.NS }}
    gethomepage.dev/external: 'true'
spec:
  ingressClassName: internal
  rules:
    - host: &host {{ ENV.SUBDOMAIN }}.durbin.casa
      http:
        paths:
          - pathType: Prefix
            path: '/'
            backend:
              service:
                name: {{ ENV.COMP }}-service
                port:
                  name: {{ ENV.PROTO }}
  tls:
    - secretName: durbin-casa-wildcard-cert
      hosts:
        - *host
