---
endpoints:
  - name: {{ ENV.APP }}
    url: {{ ENV.PROTO }}://{{ ENV.APP }}-{{ ENV.COMP }}-service.{{ ENV.NS }}
    conditions:
      - '[STATUS] == 200'
    alerts: [{ type: ntfy }]
{% if ENV.PROTO == 'https' %}
    client:
      insecure: true
{% endif %}
