---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: volume
#  labels:
#    snapscheduler/standard: 'true'
spec:
  accessModes: [ReadWriteOnce]
  storageClassName: local-storage
  resources:
    requests:
      storage: {{ ENV.SIZE }}
