---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ ENV.COMP }}-deployment
  annotations:
    reloader.stakater.com/auto: 'true'
  labels: &labels
    app.kubernetes.io/component: {{ ENV.COMP }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels: *labels
  template:
    metadata:
      labels: *labels
    spec:
      securityContext:
        fsGroup: 1000
      # volumes:
      #   - name: volume
      #     persistentVolumeClaim:
      #       claimName: volume
      containers:
        - name: {{ ENV.APP }}
          image: {{ ENV.IMG }}
          resources:
            requests:
              memory: 100M
            limits:
              memory: 1G
          securityContext:
            privileged: false
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            readOnlyRootFilesystem: true
            capabilities:
              drop: [ALL]
          # volumeMounts:
          #   - name: volume
          #     mountPath: /var/www/app/data
          env:
            - name: TZ
              value: America/Denver
          ports:
            - name: http
              containerPort: {{ ENV.PORT }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: volume
#  labels:
#    snapscheduler/standard: 'true'
spec:
  accessModes: [ReadWriteOnce]
  storageClassName: local-storage
  resources:
    requests:
      storage: {{ ENV.SIZE }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ ENV.COMP }}-service
spec:
  selector:
    app.kubernetes.io/component: {{ ENV.COMP }}
  ports:
    - name: {{ ENV.PROTO }}
      port: 80
      targetPort: {{ ENV.PROTO }}

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: internal-ingress
  annotations:
    cert-manager.io/cluster-issuer: cloudflare-issuer
    nginx.ingress.kubernetes.io/backend-protocol: {{ ENV.PROTO | upper }}
    gethomepage.dev/href: https://{{ ENV.SUBDOMAIN }}.durbin.casa
    gethomepage.dev/enabled: 'true'
    gethomepage.dev/app: {{ ENV.APP }}
    gethomepage.dev/group: Other
    gethomepage.dev/icon: {{ ENV.APP }}
    gethomepage.dev/name: {{ ENV.APP | title }}
spec:
  ingressClassName: internal
  rules:
    - host: &host {{ ENV.SUBDOMAIN }}.durbin.casa
      http:
        paths:
          - pathType: Prefix
            path: '/'
            backend:
              service:
                name: {{ ENV.COMP }}-service
                port:
                  name: {{ ENV.PROTO }}
  tls:
    - secretName: durbin-casa-wildcard-cert
      hosts:
        - *host

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gatus-config
  labels:
    gatus.io/enabled: 'true'
data:
  {{ ENV.APP }}.yml: |
    endpoints:
      - name: {{ ENV.APP }}
        url: {{ ENV.PROTO }}://{{ ENV.APP }}-{{ ENV.COMP }}-service.{{ ENV.NS }}
        conditions:
          - '[STATUS] == 200'
{% if ENV.PROTO == 'https' %}
        client:
          insecure: true
{% endif %}
