---
apiVersion: v1
kind: Service
metadata:
  name: {{ ENV.COMP }}-service
spec:
  selector:
    app.kubernetes.io/component: {{ ENV.COMP }}
  ports:
    - name: {{ ENV.PROTO }}
      port: 80
      targetPort: {{ ENV.PROTO }}

