# SPDX-License-Identifier: MIT-0
---
- name: Create rust zpool
  community.general.zpool:
    name: rust
    mountpoint: /var/mnt/rust
    vdevs:
      - type: mirror
        disks: [/dev/sdb, /dev/sdc]

- name: Create media dataset
  community.general.zfs:
    name: rust/media
    state: present
    extra_zfs_properties:
      sharenfs: fsid=0,rw,sync,no_subtree_check,nohide,insecure,no_root_squash
  notify: [Restart NFS]

- name: Start NFS
  ansible.builtin.systemd_service:
    name: nfs-server
    state: started
    enabled: true

- name: Setup monthly scrub
  ansible.builtin.systemd_service:
    name: zfs-scrub-monthly@rust.timer
    state: started
    enabled: true
