---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: frigate
namePrefix: frigate-

resources:
  - ./frigate.yml
  - ./secret.yml

components:
  - ../../components/nas-media

configMapGenerator:
  - files:
      - frigate.yml=gatus.yml
    name: gatus
    options:
      labels:
        gatus.io/enabled: 'true'
  - files:
      - config/frigate.yml
    name: config

labels:
  - includeSelectors: true
    includeTemplates: true
    pairs:
      app.kubernetes.io/name: frigate
