# SPDX-License-Identifier: MIT-0
---
- name: Enable tailscale
  ansible.builtin.service:
    name: tailscaled
    state: started
    enabled: true

- name: Up tailscale
  ansible.builtin.command: tailscale up --advertise-exit-node --ssh
  changed_when: false
