---
# vim: set ft=yaml.ansible
- name: Base provision
  tags: base
  hosts: all
  become: true
  tasks:
    - name: Set timezone to UTC
      community.general.timezone:
        name: UTC

    - name: Set ssh keys from github
      ansible.posix.authorized_key:
        user: core
        state: present
        key: https://github.com/kevindurb.keys

    - name: Set rpm_ostreed update policy
      ansible.builtin.copy:
        content: |
          [Daemon]
          AutomaticUpdatePolicy=stage
        dest: /etc/rpm-ostreed.conf
        mode: '644'

    - name: Enable rpm ostreed automatic
      ansible.builtin.service:
        name: rpm-ostreed-automatic.timer
        state: started
        enabled: true

    - name: Disable zincati
      ansible.builtin.service:
        name: zincati
        state: stopped
        enabled: false

    - name: Disable firewall
      ansible.builtin.service:
        name: firewalld
        state: stopped
        enabled: false

    - name: Enable cockpit
      ansible.builtin.service:
        name: cockpit
        state: started
        enabled: true

- name: Setup k3s
  tags: k3s
  hosts: all
  become: true
  roles: [k3s]

- name: Setup drone-04 as NAS
  tags: zfs
  hosts: drone-04
  become: true
  roles: [nas_zfs]

- name: Setup tailscale
  tags: tailscale
  hosts: all
  become: true
  roles: [tailscale]

- name: Setup zrepl sources
  tags: zfs,zrepl
  hosts: [drone-01, drone-02, drone-03]
  become: true
  tasks:
    - name: Create zrepl config
      ansible.builtin.copy:
        src: files/zrepl/source.yml
        dest: /etc/zrepl/zrepl.yml
        mode: '644'

    - name: Enable zrepl service
      ansible.builtin.service:
        name: zrepl
        state: stopped
        enabled: false

- name: Setup zrepl target
  tags: zfs,zrepl
  hosts: drone-04
  become: true
  tasks:
    - name: Create zrepl config
      ansible.builtin.copy:
        src: files/zrepl/target.yml
        dest: /etc/zrepl/zrepl.yml
        mode: '644'

    - name: Enable zrepl service
      ansible.builtin.service:
        name: zrepl
        state: stopped
        enabled: false
