---
# vim: set ft=yaml.ansible
- name: Upgrade agents
  hosts: agents
  tags: agents
  serial: 2
  become: true
  tasks:
    - name: Upgrade to latest
      community.general.bootc_manage:
        state: latest
      register: bootc

    - name: Reboot
      ansible.builtin.reboot:
      when: bootc.changed

- name: Upgrade servers
  hosts: servers
  tags: servers
  serial: 2
  become: true
  tasks:
    - name: Upgrade to latest
      community.general.bootc_manage:
        state: latest
      register: bootc

    - name: Reboot
      ansible.builtin.reboot:
      when: bootc.changed
