---
# vim: set ft=yaml.ansible
- name: Pull latest on all nodes
  hosts: all
  become: true
  tasks:
    - name: Upgrade to latest
      community.general.bootc_manage:
        state: latest
      register: bootc

- name: Reboot agents
  hosts: agents
  serial: 2
  become: true
  tasks:
    - name: Reboot
      ansible.builtin.reboot:
      when: bootc.changed

- name: Reboot servers
  hosts: servers
  serial: 2
  become: true
  tasks:
    - name: Reboot
      ansible.builtin.reboot:
      when: bootc.changed
