[Unit]
Description=Gerbil WireGuard interface manager
Documentation=https://fossorial.io/
After=pangolin.service
Wants=pangolin.service

[Container]
Image=docker.io/fosrl/gerbil:latest
ContainerName=gerbil
Network=pangolin-network
PublishPort=51820:51820/udp
PublishPort=443:443
PublishPort=80:80
AddCapability=NET_ADMIN
AddCapability=SYS_MODULE
Volume=gerbil-config:/var/config:Z
Exec=--reachableAt=http://gerbil:3003 --generateAndSaveKeyTo=/var/config/key --remoteConfig=http://pangolin:3001/api/v1/gerbil/get-config --reportBandwidthTo=http://pangolin:3001/api/v1/gerbil/receive-bandwidth
AutoUpdate=registry
Label=org.opencontainers.image.title=gerbil
Label=org.opencontainers.image.description=Gerbil WireGuard interface manager

[Service]
Restart=unless-stopped
TimeoutStartSec=300
ExecStartPre=-/usr/bin/podman pull docker.io/fosrl/gerbil:latest

[Install]
WantedBy=multi-user.target