[Unit]
Description=Traefik HTTP reverse proxy and load balancer
Documentation=https://doc.traefik.io/traefik/
After=gerbil.service
Wants=gerbil.service

[Container]
Image=traefik:v3.3.3
ContainerName=traefik
Network=container:gerbil
Volume=/var/lib/pangolin/config/traefik:/etc/traefik:Z
Volume=/var/lib/pangolin/letsencrypt:/letsencrypt:Z
Exec=--configfile=/etc/traefik/traefik_config.yml
AutoUpdate=registry
Label=org.opencontainers.image.title=traefik
Label=org.opencontainers.image.description=Traefik HTTP reverse proxy and load balancer

[Service]
Restart=unless-stopped
TimeoutStartSec=300
ExecStartPre=-/usr/bin/podman pull traefik:v3.3.3

[Install]
WantedBy=multi-user.target