[Unit]
Description=Traefik HTTP reverse proxy and load balancer
Documentation=https://doc.traefik.io/traefik/
After=pangolin.service gerbil.service
Wants=pangolin.service gerbil.service

[Container]
Image=docker.io/library/traefik:v3.4.0
ContainerName=traefik
Network=container:gerbil
Volume=/etc/pangolin/traefik:/etc/traefik:Z,ro
Volume=pangolin-letsencrypt:/letsencrypt:Z
Exec=--configFile=/etc/traefik/traefik_config.yml
AutoUpdate=registry
Label=org.opencontainers.image.title=traefik
Label=org.opencontainers.image.description=Traefik HTTP reverse proxy and load balancer

[Service]
Restart=unless-stopped
TimeoutStartSec=300
ExecStartPre=-/usr/bin/podman pull docker.io/library/traefik:v3.4.0

[Install]
WantedBy=multi-user.target