# yaml-language-server: $schema=https://taskfile.dev/schema.json
---
version: '3'

vars:
  ingressIp: 192.168.42.2
  apps:
    sh: ls ./apps

tasks:
  build-all:
    cmds:
      - rm -rf ./dist
      - mkdir ./dist
      - for:
          var: apps
        cmd: kustomize build {{ joinPath "./apps" .ITEM }} > ./dist/{{ .ITEM }}.yml
    sources:
      - apps/**/*.{yml,yaml}
    generates:
      - dist/*.yml

  validate:
    vars:
      kubeconformArgs: >-
        -summary
        -output pretty
        -ignore-filename-pattern gatus.yml
        -ignore-filename-pattern config/*
        -ignore-filename-pattern .rules.yml
        -ignore-missing-schemas
        -schema-location default
        -schema-location './schemas/{{`{{ .Group }}`}}/{{`{{ .ResourceKind }}`}}_{{`{{ .ResourceAPIVersion }}`}}.json'
    cmd: kubeconform {{ .kubeconformArgs }} ./apps

  create-bw-auth-token:
    desc: create a bw auth token in a namespace
    requires:
      vars: [NS, TOKEN]
    cmd: kubectl create secret generic bw-auth-token -n {{ .NS }} --from-literal=token="{{ .TOKEN }}"

  copy-bw-auth-token:
    desc: copy bw auth token from default namespace
    vars:
      TOKEN:
        sh: kubectl get secret bw-auth-token -o json | jq -r .data.token | base64 --decode
    requires:
      vars: [NS]
    cmd:
      task: create-bw-auth-token
      vars:
        NS: '{{.NS}}'
        TOKEN: '{{.TOKEN}}'
